@use '../abstracts/import.scss' as *;

* {
    box-sizing: border-box;
    user-select: none;
    overscroll-behavior: none;
}

body {
    position: relative;
    width: 100dvw;
    height: 100dvh;
    margin: 0;
    padding: 0;
    overflow: hidden;

    >#app,
    >#root {
        position: relative;
        width: 100%;
        height: 100%;

        canvas,
        #webgl {
            width: 100%;
            height: 100%;
        }
    }
}