@use '../abstracts/import.scss' as *;

$endedDurationTransition: 1.5s;

.loading-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;

    .loading-progress {
        z-index: 2;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-bottom: 2.5rem;
        opacity: 1;
        font-size: 2rem;
        color: $white;
        display: flex;
        align-items: center;
        gap: 0.25rem;
        color: $white;

        &.ended {
            opacity: 0;
            transition: opacity $endedDurationTransition ease-in-out;
        }
    }

    .loading-bar {
        z-index: 1;
        width: 100dvw;
        height: 0.25rem;
        position: absolute;
        top: 50%;
        left: 0;
        background-color: $white;
        transform-origin: top left;
        transform: translateY(-50%) scaleX(0);

        &.ended {
            transform-origin: top right;
            opacity: 0;
            transform: translateY(-50%) scale(0);
            transition: transform $endedDurationTransition ease-in-out, opacity $endedDurationTransition ease-in-out;
        }
    }
}