@use '../abstracts/import.scss' as *;

.loading-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;

    .loading-progress {
        z-index: 2;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-bottom: 2.5rem;
        opacity: 0;
        font-size: 2rem;
        color: $white;
        display: flex;
        align-items: center;
        gap: 0.25rem;
        transition: opacity 0.5s ease-in-out;
        color: $white;

        &.ended {
            transition: opacity 1.5s ease-in-out;
            opacity: 0;
        }
    }

    .loading-bar {
        z-index: 1;
        width: 100dvw;
        height: 0.25rem;
        position: absolute;
        top: 50%;
        left: 0;
        background-color: $white;
        transform-origin: top left;
        transform: translateY(-50%) scaleX(0);
        transition: transform 0.3s ease-in-out;

        &.ended {
            transform-origin: top right;
            transition: transform 1.5s ease-in-out;
        }
    }
}